@import 'styles-common-variables.scss';
@import 'app/gui/styles-keyboards.scss';

#keyboard-container {
    background-color: $p101-background;
    padding: 8px;
    border-radius: 8px;
}

#keyboard {
    width: calc(35px * 7);
}
