<div id="keyboard-container">
    <mat-grid-list cols="7" rowHeight="35px" gutterSize="5px" id="keyboard">
        <mat-grid-tile class="empty" colspan="2"></mat-grid-tile>
        <mat-grid-tile id="key-7" class="key numeric-key" (click)="sim_service.digitPressed(7)">7</mat-grid-tile>
        <mat-grid-tile id="key-8" class="key numeric-key" (click)="sim_service.digitPressed(8)">8</mat-grid-tile>
        <mat-grid-tile id="key-9" class="key numeric-key" (click)="sim_service.digitPressed(9)">9</mat-grid-tile>
        <mat-grid-tile id="key-S" class="key label-key" rowspan="4" colspan="2" (click)="sim_service.startPressed()">S</mat-grid-tile>
        
        <mat-grid-tile id="key-BACKSPACE" class="key service-key" colspan="2" (click)="sim_service.clearPressed()">clear</mat-grid-tile>
        <mat-grid-tile id="key-4" class="key numeric-key"  (click)="sim_service.digitPressed(4)">4</mat-grid-tile>
        <mat-grid-tile id="key-5" class="key numeric-key"  (click)="sim_service.digitPressed(5)">5</mat-grid-tile>
        <mat-grid-tile id="key-6" class="key numeric-key"  (click)="sim_service.digitPressed(6)">6</mat-grid-tile>
        
        <mat-grid-tile class="empty" colspan="2"></mat-grid-tile>
        <mat-grid-tile id="key-1" class="key numeric-key"  (click)="sim_service.digitPressed(1)">1</mat-grid-tile>
        <mat-grid-tile id="key-2" class="key numeric-key"  (click)="sim_service.digitPressed(2)">2</mat-grid-tile>
        <mat-grid-tile id="key-3" class="key numeric-key"  (click)="sim_service.digitPressed(3)">3</mat-grid-tile>
        
        <mat-grid-tile class="empty" colspan="2"></mat-grid-tile>
        <mat-grid-tile id="key-0" class="key numeric-key" (click)="sim_service.digitPressed(0)">0</mat-grid-tile>
        <mat-grid-tile id="key-dot" class="key numeric-key" (click)="sim_service.dotPressed()">.</mat-grid-tile>
        <mat-grid-tile id="key-comma" class="key numeric-key" (click)="sim_service.algebraicSignPressed()">-</mat-grid-tile>
    </mat-grid-list>          
</div>
