<mat-expansion-panel [expanded]="true" (opened)="is_panel_open=true" (closed)="is_panel_open=false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Stampante e registri
      </mat-panel-title>
      <mat-panel-description>
        {{ is_panel_open? "nascondi" : "mostra" }} stampante e registri
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div id="main-container">
      <div id="general-purpose-registers-and-printer-and-assets">
        <div id="assets-container">      
          
          <div id="decimals-container">
              <mat-form-field id="decimals-form-field" class=".density-4">
                  <mat-label>decimali</mat-label>
                  <input matInput type="number" value="2" min="0" max="22" [(ngModel)]="decimals" (change)="decimals_changed()">
              </mat-form-field>  
          </div>
          <div id="general-reset" class="key" (click)="general_reset_pressed()">GEN RESET</div>
        
        </div>
        <div id="general-purpose-registers" class="density-3">
          <mat-form-field id="reg_B" appearance="outline" class="register" [class.half-register]="service.registers.reg_b !== null" [class.selected-register]="service.selectedRegister=='B'">
            <span class="register-name" matTextPrefix>B</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_B">
          </mat-form-field>
          <mat-form-field id="reg_b" *ngIf="service.registers.reg_b !== null" appearance="outline" class="register half-register" [class.selected-register]="service.selectedRegister=='b'">
            <span class="register-name" matTextPrefix>b</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_b">
          </mat-form-field>
          
          <mat-form-field id="reg_C" appearance="outline" class="register" [class.half-register]="service.registers.reg_c !== null" [class.selected-register]="service.selectedRegister=='C'">
            <span class="register-name" matTextPrefix>C</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_C">
          </mat-form-field>
          <mat-form-field id="reg_c" *ngIf="service.registers.reg_c !== null" appearance="outline" class="register half-register" [class.selected-register]="service.selectedRegister=='c'">
            <span class="register-name" matTextPrefix>c</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_c">
          </mat-form-field>

          <mat-form-field id="reg_D" appearance="outline" class="register" [class.half-register]="service.registers.reg_d !== null" [class.selected-register]="service.selectedRegister=='D'">
            <span class="register-name" matTextPrefix>D</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_D">
          </mat-form-field>
          <mat-form-field id="reg_d" *ngIf="service.registers.reg_d !== null" appearance="outline" class="register half-register" [class.selected-register]="service.selectedRegister=='d'">
            <span class="register-name" matTextPrefix>d</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_d">
          </mat-form-field>

          <mat-form-field id="reg_E" appearance="outline" class="register" [class.half-register]="service.registers.reg_e !== null" [class.selected-register]="service.selectedRegister=='E'">
            <span class="register-name" matTextPrefix>E</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_E">
          </mat-form-field>
          <mat-form-field id="reg_e" *ngIf="service.registers.reg_e !== null" appearance="outline" class="register half-register" [class.selected-register]="service.selectedRegister=='e'">
            <span class="register-name" matTextPrefix>e</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_e">
          </mat-form-field>

          <mat-form-field id="reg_F" appearance="outline" class="register" [class.half-register]="service.registers.reg_f !== null" [class.selected-register]="service.selectedRegister=='F'">
            <span class="register-name" matTextPrefix>F</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_F">
          </mat-form-field>
          <mat-form-field id="reg_f" *ngIf="service.registers.reg_f !== null" appearance="outline" class="register half-register" [class.selected-register]="service.selectedRegister=='f'">
            <span class="register-name" matTextPrefix>f</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_f">
          </mat-form-field>
        </div>

        <div id="printer-and-lights-container">
          <div id="lights">
            <div class="light" id="green-light" [class.active]="!service.error && !service.running" [class.blinking]="!service.error && service.running"></div>
            <div class="light" id="red-light" [class.active]="service.error"></div>
          </div>
          <div id="printer-output" #printer>
              <div *ngFor="let line of printerOutput$ | async">{{line}}</div>
          </div>
          <div id="printer-text">STAMPANTE</div>
      </div>
      
      </div>

      <div class="operative-registers density-3">
        
        <div class="register-and-arrows">
          <div class="arrows a-arrows">
            <div class="arrow-container">↓</div>
            <div class="arrow-container">↕</div>
          </div>

          <mat-form-field id="reg_A" appearance="outline" class="register" [class.selected-register]="service.selectedRegister=='A'">
            <span class="register-name" matTextPrefix>A</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_A">
          </mat-form-field>
        </div>

        <div class="operator">
          {{ operator }}
        </div>

        <div class="register-and-arrows">
          <div class="arrows m-arrows">
            <div class="arrow-container">↑</div>
          </div>

          <mat-form-field id="reg_M" appearance="outline" class="register" [class.selected-register]="service.selectedRegister=='M'">
            <span class="register-name" matTextPrefix>M</span>
            <input class="register-value" disabled matInput [value]="service.registers.reg_M + service.pendingStringRegisterM">
          </mat-form-field>
        </div>
        
        <mat-form-field id="reg_R" appearance="outline" class="register" [class.selected-register]="service.selectedRegister=='R'">
          <span class="register-name" matTextPrefix>R</span>
          <input class="register-value" disabled matInput [value]="service.registers.reg_R">
        </mat-form-field>
      </div>

    </div>
    
</mat-expansion-panel>
