
@import 'styles-common-variables.scss';

.register {
    width: 228px;
    height: 48px;
}

.register.half-register {
    width: 150px;
}

#assets-container {
    width: 100px;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#decimals-form-field {
    width: 70px;
    background-color: white;

    input {
        text-align: right;
    }
}

#general-reset {
    width: 40px;
    height: 40px;
    font-size: 12px;
    background-color: white;
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    line-height: 1.5;
    font-weight: bold;
    margin-left: 0px;
}

.key {
    border: 1px solid #333333;
    border-radius: 8px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    // user-select: none;
}

.key:hover {
    opacity: 0.6;
}

.key:active, .key.pressed {
    position: relative;
    top: 1px;
    left: 1px;
}

#main-container {
    display: flex;
    flex-direction: column;
}

#general-purpose-registers-and-printer-and-assets {
    display: flex;
    gap: 16px;
}

#general-purpose-registers {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    width: 320px;
    height: 324px;
    border: 2px solid $register-color;
    border-radius: 10px;
}

input.register-value {
    text-align: right;
}

.register-name {
    color: $register-color;
}

input.register-value::-webkit-outer-spin-button,
input.register-value::-webkit-inner-spin-button {
  display: none;
}

input.register-value {
  -moz-appearance: textfield;
}

.operative-registers {
    display: flex;
    flex-direction: row;

    .register, .operator {
        margin: auto;
        margin-bottom: 0;
    }
}

.operator {
    background: #DADADA;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -4px;
}

.register-and-arrows {
    display: flex;
    flex-direction: column;
}

.arrows {
    display: flex;
    font-size: 30px;
    padding: 8px 0;
    color: $register-color;

    &.a-arrows {
        justify-content: flex-end;
        margin-right: 16px;
    }
    &.m-arrows {
        justify-content: flex-start;
        margin-left: 16px;
    }

    div.arrow-container {
        padding: 4px 0;
    }
}

#printer-and-lights-container {
    display: flex;
    flex-direction: column;
}

#lights {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.light {
    height: 30px;
    border-radius: 10px;
}

#green-light {
    width: 180px;
    background-color: #CCFFCC;

    &.active {
        background-color: #20D02A;
    }

    &.blinking {
        animation: blinker 2s linear infinite;
    }
}

@keyframes blinker {
    50% {
      background-color: #20D02A;
    }
  }

#red-light {
    width: 70px;
    background-color: #FFCCCC;

    &.active {
        background-color: #FF2030;
    }
}

#printer-output {
    width: 250px;
    height: 268px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    //TODO: not scrolling when justify-content:flex-end a firefox bug: https://bugzilla.mozilla.org/show_bug.cgi?id=1042151 
    //justify-content: flex-end;
    overflow-y: auto;
    border: 1px solid black;
    background-color: white;

    >:first-child {
        margin-top: auto;
    }
    
    div {
        padding: 4px;
        min-height: 1em;
    }
}

#printer-text {
    background-color: black;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0 8px;
}
