<mat-expansion-panel [expanded]="true" (opened)="is_panel_open=true" (closed)="is_panel_open=false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Schede magnetiche
      </mat-panel-title>
      <mat-panel-description>
        {{ is_panel_open? "nascondi" : "mostra" }} le schede magnetiche
      </mat-panel-description>
    </mat-expansion-panel-header>

    <div id="magnetic-cards-container" [class.none-selected]="selected_card == null">
      <div class="card-and-buttons-container">
        <div id="new-card-buttons" class="density-3">
          <button matTooltip="crea nuovo programma usando l'editor" mat-icon-button (click)="new_program()"> <mat-icon>library_add</mat-icon> </button>
          <button matTooltip="carica un programma da file" mat-icon-button (click)="upload_program(fileUpload)"> <mat-icon>upload</mat-icon> </button>
          <div id="new-card-text">Oppure premi RECORD PR</div>
        </div>         
      </div>
      <div class="card-and-buttons-container" *ngFor="let card of programs$ | async; let i=index">
        <div class="card-container" draggable="true" (dragstart)="drag_start($event, i)" (dragend)="drag_end()">
          <app-magnetic-card [(title)]="card.title" class="magnetic-card">
          </app-magnetic-card>
        </div>
        <div class="magnetic-card-buttons density-3">
          <button matTooltip="inserisci scheda magnetica nella macchina" mat-icon-button (click)="load_program(i)"> <mat-icon>move_to_inbox</mat-icon> </button>
          <button matTooltip="salva programma su file" mat-icon-button (click)="save_program(card, fileDownload)"> <mat-icon>download</mat-icon> </button>
          <button matTooltip="elimina scheda magnetica" mat-icon-button color="warn" (click)="delete_program(i)"> <mat-icon>delete</mat-icon> </button>   
          <button matTooltip="modifica programma uando l'editor" mat-icon-button (click)="edit_program(i)"> <mat-icon>edit</mat-icon> </button>   
        </div>
      </div>
    </div>

    
</mat-expansion-panel>

<a id="download-file-link" download #fileDownload></a>
<input type="file" id="upload-file" #fileUpload (change)="file_uploaded(fileUpload)">
