
@import 'styles-common-variables';

#magnetic-cards-container {
    display: flex;
    flex-flow: row wrap;
    
    gap: 8px;
}

.card-and-buttons-container {
    position: relative;
}

#new-card-buttons {
    border: 1px dashed $card-border-color;
    padding: 2px;
    height: $card-height;
    width: $card-width;
    background-color: $card-bg-color;
}

#new-card-text {
    padding: 8px;
    line-height: normal;
    font-size: 14px;
}

.magnetic-card-buttons {
    visibility: hidden;
    position: absolute;
    top: 0px;
    left: 0px;
}

.none-selected .card-and-buttons-container:hover {

    .magnetic-card-buttons {
        visibility: visible;
    }
}

#download-file-link, #upload-file {
    display: none;
}
