#main-container {
    max-width: 600px;
    margin-left: 16px;
    text-align: center;
}

#img-container {
    margin-top: 24px;
    display: flex;
    gap: 24px;
    justify-content: space-around;
    align-items: center;

    img {
        max-width: 150px;
        height: auto;
    }
}
