<div id="main-container">
    <h1 id="title">Informazioni</h1>
    <p>
        Sito realizzato da Lucio Messina in collaborazione con il <a target="_blank" href="https://www.msc.sma.unipi.it/">Museo degli Strumenti per il Calcolo</a> dell'<a target="_blank" href="https://www.unipi.it/">Università di Pisa</a>.
    </p>
    <p>
        Il progetto è stato sviluppato a partire dal <a target="_blank" href="http://p101.unicas.it/">simulatore di Programma 101</a> creato all'<a target="_blank" href="https://www.unicas.it/">Università di Cassino</a>, a sua volta basato su un simulatore sviluppato da Giovanni De Sandre, uno dei progettisti della Programma 101.
    </p>
    <p>
        Qesto sito è <a target="_blank" href="https://it.wikipedia.org/wiki/Open_source">Open source</a>: puoi vedere o scaricare il codice sorgente da <a target="_blank" href="https://bitbucket.org/master-thesis-p101/p101-lab/src/master/">qui</a> e riutilizzarlo secondo i termini della licenza <a target="_blank" href="https://www.gnu.org/licenses/gpl-3.0.en.html">GNU GPL versione 3</a> o una versione successiva.
    </p>


    <a target="_blank" href="mailto:lucio.messina@autistici.org" mat-mini-fab color="warn"><mat-icon>bug_report</mat-icon></a> Hai trovato un errore nel sito? faccelo sapere.

    <div id="img-container">
        <a target="_blank" href="https://www.msc.sma.unipi.it/"><img src="assets/logo_msc.png" /></a>
        <a target="_blank" href="https://www.sma.unipi.it/"><img src="assets/logo_sma.png" /></a>
        <a target="_blank" href="https://www.unipi.it/"><img src="assets/logo_unipi.png" /></a>
    </div>

</div>
