
<div id="gui-container">
    <app-programma101></app-programma101>

    <div id="sidebar">
        <app-registers></app-registers>
        <app-magnetic-cards-holder></app-magnetic-cards-holder>
    </div>
</div>
