@import 'styles-common-variables.scss';

.key {
    border: 1px solid #333333;
    border-radius: 8px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    // user-select: none;
}

.key:hover {
    opacity: 0.6;
}

.key:active, .key.pressed {
    margin-top: 1px;
    margin-left: 1px;
}

.register-key {
    background-color: $register-color;
    color: white;
}

.service-key {
    background-color: #b9b3a2;
}

.label-key {
    background-color: #15324a;
    color: white;
}

.numeric-key {
    background-color: #c6cfd2;
}
