<div id="gui-container">
    <div id="main-editor">
        <div id="buttons" [class.raised-menu-trigger]="!dialog_opened">

            <button disabledInteractive color="primary"
                mat-fab extended class="save-button" (click)="save(saveTrigger)"
                [matMenuTriggerFor]="saveMenu" #saveTrigger="matMenuTrigger"
                (mouseenter)="open_save_menu(saveTrigger)" (mouseleave)="close_menu('save', saveTrigger)"
                [matTooltip]="save_disabled" [disabled]="save_disabled != null"
            >
                <ng-container *ngIf="programId == null; else saveOnExistingCardButtonTemplate">
                    <mat-icon>save</mat-icon> <span class="button-text">Salva</span>
                </ng-container>
                <ng-template #saveOnExistingCardButtonTemplate>
                    <mat-icon>save</mat-icon> <span class="button-text">Salva su <span id="program-title">{{ programTitle }}</span></span>
                </ng-template>
            </button>

            <button disabledInteractive color="primary"
                mat-fab extended (click)="step(stepTrigger)"
                [matMenuTriggerFor]="stepMenu" #stepTrigger="matMenuTrigger"
                (mouseenter)="open_fakelabels_menu('step', stepTrigger)" (mouseleave)="close_menu('step', stepTrigger)"
                [matTooltip]="step_disabled" [disabled]="step_disabled != null"
            >
                <mat-icon>skip_next</mat-icon> Step
            </button>

            <button disabledInteractive [color]="!running ? 'primary' : 'warn'"
                mat-fab extended (click)="run_stop(runTrigger)"
                [matMenuTriggerFor]="runMenu" #runTrigger="matMenuTrigger"
                (mouseenter)="open_fakelabels_menu('run', runTrigger)" (mouseleave)="close_menu('run', runTrigger)"
                [matTooltip]="run_disabled" [disabled]="run_disabled != null"
            >
                <ng-container *ngIf="!running; else stopButtonTemplate">
                    <mat-icon>play_arrow</mat-icon> <span class="button-text">Esegui</span>
                </ng-container>
                <ng-template #stopButtonTemplate>
                    <mat-icon>stop</mat-icon><span class="button-text">Stop</span>
                </ng-template>

            </button>

            <mat-menu #saveMenu="matMenu">
                <button mat-menu-item (mouseenter)="focus_menu('save')" (mouseleave)="unfocus_menu('save', saveTrigger)"
                    (click)="save_other_card()"
                >
                    <mat-icon>save_as</mat-icon>
                    salva su un'altra scheda magentica
                </button>
            </mat-menu>
            <mat-menu #stepMenu="matMenu">
                <button mat-menu-item (mouseenter)="focus_menu('step')" (mouseleave)="unfocus_menu('step', stepTrigger)"
                    (click)="step_from(1)" *ngIf="program_has_fakelabel[1]"
                >
                    ...dal punto 1
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('step')" (mouseleave)="unfocus_menu('step', stepTrigger)"
                    (click)="step_from(2)" *ngIf="program_has_fakelabel[2]"
                >
                    ...dal punto 2
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('step')" (mouseleave)="unfocus_menu('step', stepTrigger)"
                    (click)="step_from(3)" *ngIf="program_has_fakelabel[3]"
                >
                    ...dal punto 3
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('step')" (mouseleave)="unfocus_menu('step', stepTrigger)"
                    (click)="step_from(4)" *ngIf="program_has_fakelabel[4]"
                >
                    ...dal punto 4
                </button>
            </mat-menu>
            <mat-menu #runMenu="matMenu">
                <button mat-menu-item (mouseenter)="focus_menu('run')" (mouseleave)="unfocus_menu('run', runTrigger)"
                    (click)="run_from(1)" *ngIf="program_has_fakelabel[1]"
                >
                    ...dal punto 1
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('run')" (mouseleave)="unfocus_menu('run', runTrigger)"
                    (click)="run_from(2)" *ngIf="program_has_fakelabel[2]"
                >
                    ...dal punto 2
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('run')" (mouseleave)="unfocus_menu('run', runTrigger)"
                    (click)="run_from(3)" *ngIf="program_has_fakelabel[3]"
                >
                    ...dal punto 3
                </button>
                <button mat-menu-item (mouseenter)="focus_menu('run')" (mouseleave)="unfocus_menu('run', runTrigger)"
                    (click)="run_from(4)" *ngIf="program_has_fakelabel[4]"
                >
                    ...dal punto 4
                </button>
            </mat-menu>
        </div>
        <app-blockly (programChange)="programChanged($event)" [setProgram$]="programToBeEdited$"></app-blockly>
    </div>

    <div id="sidebar">
        <app-registers></app-registers>
        <app-magnetic-cards-holder></app-magnetic-cards-holder>
    </div>
</div>
