#gui-container {
    min-width: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sidebar {
    max-width: 756px;
}

#main-editor {
    flex-grow: 2;
}

#buttons {
    padding: 8px;
    display: flex;
    height: 64px;
    overflow: hidden;
    align-items: baseline;
    gap: 16px;
}

#buttons button {
    // width: 80px;
    // overflow: hidden;
    border-radius: 0;
    white-space: nowrap;
    // text-overflow: ellipsis;
}

#buttons button.save-button {
    width: 200px;
}

//FIXME: Buttons icons and text are not vertically aligned if something is inserted between <button> and </button>
//       remove additional content inside the button, or
//       create two different buttons, showing different text with *ngIf (I tried but I could not make it work)
.button-text {
    position: relative;
    top: -4px;
    left: 4px;
}

#program-title {
    font-weight: bold;
}

#buttons.raised-menu-trigger button {
    // otherwise it will fire a mouseleave event as soon as the menu is opened
    z-index: 1050;
}

app-blockly {
    flex-grow: 2;
}
