
@import 'styles-common-variables.scss';
@import 'app/gui/styles-keyboards.scss';

#p101-container {
    padding: 16px;
    display: flex;
    flex-direction: column;

    background-color: $p101-background;
    border-radius: 20px;
    align-items: center;
    gap: 16px;

}

#assets {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    gap: 24px;
}

#branding {
    background-color: black;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 0 8px;
}

#assets-and-card {
    display: flex;
    flex-direction: column;
    height: 232px;
    align-items: center;
    justify-content: flex-end;
}

#magnetic-card {
    transition: opacity 500ms;

    //TODO: opacity:1 does not work in chrome unless display:block is set. This is a chromium bug
    display: block;
}

#magnetic-card-container.drop-here {
    border: 2px dashed black;
}

#magnetic-card-baseline {
    border-top: 2px solid black;
    width: 100%;
    margin-bottom: 4px;
}


#program-assets {

    mat-button-toggle {
        width: 88px;
    }

    .mat-button-toggle-checked.mat-button-toggle-appearance-standard {
        color: orange;
        font-weight: bold;
        
    }
}

#keyboard-container {
    display: flex;
    gap: 16px;
}

#keyboard {
    width: calc(35px * 12);
}


#keyboard-shortcuts-container {
    display: flex;
    align-self: flex-start;

    .shortcut {
        margin-right: 3px;
    }

    .shortcuts-header {
        font-weight: bold;
        line-height: 1.5em;
    }

    .small {
        font-size: 10px;
        line-height: 23px;;
    }
}

.virtual-key {
    border: 1px solid #333;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 25px;
}

.mapped-command {
    text-align: center;
}
