
<div id="p101-container" (keydown)="handleKeydown($event)" tabindex="1">

    <div id="assets">
        <div id="branding">
            Olivetti programma 101
        </div>
        
        <div id="assets-and-card">

            <div id="magnetic-card-container" [class.drop-here]="selected_card != null" 
                (drop)="card_dropped($event)" (dragover)="allow_drop($event)" >
                <app-magnetic-card view_mode="extended" id="magnetic-card" [style.opacity]="card_inserted ? 1 : 0" [(title)]="program_title"></app-magnetic-card>
            </div>
            <div id="magnetic-card-baseline"></div>

            <mat-button-toggle-group multiple id="program-assets" appearance="legacy" hideMultipleSelectionIndicator="true">
                <mat-button-toggle class="asset-button" [checked]="record_pr_on" (change)="record_pr_toggled()">RECORD PR</mat-button-toggle>
                <mat-button-toggle class="asset-button" [checked]="print_pr_on" (change)="print_pr_toggled()">PRINT PR</mat-button-toggle>
            </mat-button-toggle-group>
                
        </div>

    </div>

    <div id="keyboard-container">
        <mat-grid-list cols="12" rowHeight="35px" gutterSize="5px" id="keyboard">
            <mat-grid-tile id="key-F" class="key register-key" (click)="sim_service.registerPressed('F')">F</mat-grid-tile>
            <mat-grid-tile id="key-T" class="key service-key" colspan="2" (click)="sim_service.fromMPressed()">M↑</mat-grid-tile>
            <mat-grid-tile id="key-7" class="key numeric-key" (click)="sim_service.digitPressed(7)">7</mat-grid-tile>
            <mat-grid-tile id="key-8" class="key numeric-key" (click)="sim_service.digitPressed(8)">8</mat-grid-tile>
            <mat-grid-tile id="key-9" class="key numeric-key" (click)="sim_service.digitPressed(9)">9</mat-grid-tile>
            <mat-grid-tile id="key-S" class="key label-key" rowspan="4" colspan="2" (click)="sim_service.startPressed()">S</mat-grid-tile>
            <mat-grid-tile id="key-ENTER" class="key service-key" (click)="sim_service.toAPressed()"colspan="2">A↓</mat-grid-tile>
            <mat-grid-tile id="key-I" class="key service-key" (click)="sim_service.exchangePressed()">A↕</mat-grid-tile>
            <mat-grid-tile id="key-O" class="key service-key" (click)="sim_service.arithmeticOperatorPressed('sqrt')">√</mat-grid-tile>
            
            <mat-grid-tile id="key-E" class="key register-key" (click)="sim_service.registerPressed('E')">E</mat-grid-tile>
            <mat-grid-tile id="key-BACKSPACE" class="key service-key" colspan="2" (click)="sim_service.clearPressed()">clear</mat-grid-tile>
            <mat-grid-tile id="key-4" class="key numeric-key"  (click)="sim_service.digitPressed(4)">4</mat-grid-tile>
            <mat-grid-tile id="key-5" class="key numeric-key"  (click)="sim_service.digitPressed(5)">5</mat-grid-tile>
            <mat-grid-tile id="key-6" class="key numeric-key"  (click)="sim_service.digitPressed(6)">6</mat-grid-tile>
            <mat-grid-tile id="key-times" class="key service-key"  (click)="sim_service.arithmeticOperatorPressed('x')">x</mat-grid-tile>
            <mat-grid-tile id="key-minus" class="key service-key"  (click)="sim_service.arithmeticOperatorPressed('-')">-</mat-grid-tile>
            <mat-grid-tile id="key-A" class="key register-key" (click)="sim_service.registerPressed('A')">A</mat-grid-tile>
            <mat-grid-tile id="key-P" class="key service-key"  (click)="sim_service.printPressed()">◇</mat-grid-tile>
            
            <mat-grid-tile id="key-D" class="key register-key" (click)="sim_service.registerPressed('D')">D</mat-grid-tile>
            <mat-grid-tile id="key-U" class="key register-key" colspan="2" (click)="sim_service.slashPressed()">/</mat-grid-tile>
            <mat-grid-tile id="key-1" class="key numeric-key"  (click)="sim_service.digitPressed(1)">1</mat-grid-tile>
            <mat-grid-tile id="key-2" class="key numeric-key"  (click)="sim_service.digitPressed(2)">2</mat-grid-tile>
            <mat-grid-tile id="key-3" class="key numeric-key"  (click)="sim_service.digitPressed(3)">3</mat-grid-tile>
            <mat-grid-tile id="key-plus" class="key service-key"  (click)="sim_service.arithmeticOperatorPressed('+')">+</mat-grid-tile>
            <mat-grid-tile id="key-slash" class="key service-key"  (click)="sim_service.arithmeticOperatorPressed(':')">:</mat-grid-tile>
            <mat-grid-tile id="key-R" class="key register-key" (click)="sim_service.registerPressed('R')">R</mat-grid-tile>
            <mat-grid-tile id="key-DELETE" class="key service-key"  (click)="sim_service.clearRegisterPressed()">*</mat-grid-tile>
            
            <mat-grid-tile id="key-C" class="key register-key" (click)="sim_service.registerPressed('C')">C</mat-grid-tile>
            <mat-grid-tile id="key-B" class="key register-key" colspan="2" (click)="sim_service.registerPressed('B')">B</mat-grid-tile>
            <mat-grid-tile id="key-0" class="key numeric-key" (click)="sim_service.digitPressed(0)">0</mat-grid-tile>
            <mat-grid-tile id="key-dot" class="key numeric-key" (click)="sim_service.dotPressed()">.</mat-grid-tile>
            <mat-grid-tile id="key-comma" class="key numeric-key" (click)="sim_service.algebraicSignPressed()">-</mat-grid-tile>
            <mat-grid-tile id="key-V" class="key label-key" (click)="sim_service.labelPressed('V')">V</mat-grid-tile>
            <mat-grid-tile id="key-W" class="key label-key" (click)="sim_service.labelPressed('W')">W</mat-grid-tile>
            <mat-grid-tile id="key-Y" class="key label-key" (click)="sim_service.labelPressed('Y')">Y</mat-grid-tile>
            <mat-grid-tile id="key-Z" class="key label-key" (click)="sim_service.labelPressed('Z')">Z</mat-grid-tile>
        </mat-grid-list>          
    </div>

    <div id="keyboard-shortcuts-container">
        <div class="shortcuts-header shortcut">Keyboad shortcuts</div>
        <div class="shortcut"><div class="virtual-key">T</div> <div class="mapped-command">↑</div></div>
        <div class="shortcut"><div class="virtual-key small">⌫</div> <div class="mapped-command small">clear</div></div>
        <div class="shortcut"><div class="virtual-key">U</div> <div class="mapped-command">/</div></div>
        <div class="shortcut"><div class="virtual-key">,</div> <div class="mapped-command">±</div></div>
        <div class="shortcut"><div class="virtual-key">⏎</div> <div class="mapped-command">↓</div></div>
        <div class="shortcut"><div class="virtual-key">I</div> <div class="mapped-command">↕</div></div>
        <div class="shortcut"><div class="virtual-key">O</div> <div class="mapped-command">√</div></div>
        <div class="shortcut"><div class="virtual-key">P</div> <div class="mapped-command">◇</div></div>
        <div class="shortcut"><div class="virtual-key small">Canc</div> <div class="mapped-command">*</div></div>
    </div>

</div>
