<div id="blockly-area" #blocklyArea>
    <app-numeric-keyboard 
        [style.display]="show_keyboard && !sim_service.running && !sim_service.error ? 'block' : 'none'"
        [style.left.px]="keyboard_x" [style.top.px]="keyboard_y"
    ></app-numeric-keyboard>
</div>  
