
#blockly-area {
    width: 100%;
    height: 100%;
    min-width: 592px;
    min-height: 600px;

    background-color: green;
}

app-numeric-keyboard {
    position: absolute;
    z-index: 140;
    display: none;
}
