
#main-container {
    padding: 24px;
}

#new-title-form {
    display: flex;
    gap: 16px;
    align-items: baseline;
}

.confirm-button {
    height: 36px;
}

.placed-icon {
    position: relative;
    top: 4px;
    left: -4px;
}

.explanation-text {
    padding: 8px;
}


.overwrite-option button {
    display: none;
    margin-left: 16px;
}

.overwrite-option:hover {
    background-color: #DDD;
    button {
        display: unset;
    }
}
