
<div id="main-container">
    <h1 mat-dialog-title >Salva programma in una scheda magnetica:</h1>

    <div class="explanation-text"><mat-icon class="placed-icon">library_add</mat-icon>Salva in una nuova scheda magnetica</div>

    <div id="new-title-form">
        <mat-form-field id="program-title-form-field" appearance="outline">
            <mat-label>Titolo programma</mat-label>
            <input matInput [(ngModel)]="title">
        </mat-form-field>
        <button mat-stroked-button class="confirm-button" color="primary" (click)="save_new()">Salva</button>
    </div>

    <div id="overwrite-container" *ngIf="existing_titles.length > 0">
        <div class="explanation-text"><mat-icon class="placed-icon">edit</mat-icon>Oppure sovrascrivi una scheda esistente:</div>

        <mat-list>
            <mat-list-item *ngFor="let title of existing_titles; let i=index" class="overwrite-option">
                {{title}} <button mat-button color="warn" (click)="save_existing(i, title)">sovrascrivi</button>
            </mat-list-item>
        </mat-list>
        
    </div>

    <div mat-dialog-actions>
        <button mat-stroked-button (click)="cancel()" color="warn">Annulla</button>
    </div>
</div>