@use '@angular/material' as mat;

@import 'styles-common-variables.scss';

@include mat.core();

$my-theme: mat.define-theme();

html {
    @include mat.all-component-bases($my-theme);
    @include mat.all-component-themes($my-theme);
}


// override angular material default styles such that these rules are applied inside the material components

.density-3 {
    @include mat.all-component-densities(-3);
}

.density-4 {
    @include mat.all-component-densities(-4);
}

// register values and names are displayed in black even if they are <input disabled>
mat-form-field.register {

    &.mat-form-field-disabled .mdc-notched-outline__leading, &.mat-form-field-disabled .mdc-notched-outline__trailing {
        border-color: rgba(0,0,0,0.5);
    }

    input {
        color: black !important;
    }

    &.selected-register {
        .mat-mdc-text-field-wrapper {
            background-color: lighten($register-color, 50);
        }
        .mdc-notched-outline__leading, .mdc-notched-outline__trailing {
            border-width: 2px;
        }
    }

    &.flashing .mdc-notched-outline__leading, &.flashing .mdc-notched-outline__trailing{
        animation-duration: 1s;
        animation-name: flash;
    }

}

// animation for flashing register
@keyframes flash {
    from {
        border-color: rgba(0,0,0,0.0);
        border-width: 1px;
    }
    
    25% { 
        border-color: $register-color;
        border-width: 2px;
    }

    50% {
        border-color: rgba(0,0,0,0.0);
        border-width: 1px;
    }

    75% { 
        border-color: $register-color;
        border-width: 2px;
    }
    
    
}

mat-button-toggle.asset-button {
    
    .mat-button-toggle-label-content {
        line-height: 12px;
        font-size: 12px;
    }

    &.mat-button-toggle-checked .mat-button-toggle-label-content {
        color: orange;
    }
}

//decimal positions form field does not have the hint/errors space below and darker label text
#decimals-form-field {

    label {
        color: rgba(0,0,0,0.8);
    }

    &.mat-form-field-appearance-legacy .mat-form-field-wrapper {
        padding-bottom: 0;
    }

    .mat-mdc-form-field-subscript-wrapper {
        display: none;
    }

    .mat-mdc-form-field-flex {
        position: relative;
        left: -10px;
    }
}

#magnetic-cards-container {
    .magnetic-card-buttons button.mat-icon-button {
        width: 30px;
        height: 30px;
    }

    &.none-selected .card-and-buttons-container:hover {
        .magnetic-card #title {
            opacity: 0.2;
            display: block;
        }
    }
}

mat-snack-bar-container {

    text-align: center;

    &.success {
        // this is a terrible hack
        .mdc-snackbar__surface::before {
            background-color: #3AE63A;
            z-index: -1;
        }

        .mat-mdc-snack-bar-label {
            background-color: #3AE63A;
            color: #000;
        }
    }

    &.warning {
        // this is a terrible hack
        .mdc-snackbar__surface::before {
            background-color: #E6DB3A;
            z-index: -1;
        }

        .mat-mdc-snack-bar-label {
            background-color: #E6DB3A;
            color: #000;
        }        
    }

    &.error {
        // this is a terrible hack
        .mdc-snackbar__surface::before {
            background-color: #BF1111;
            z-index: -1;
        }

        .mat-mdc-snack-bar-label {
            background-color: #BF1111;
            color: #FFF;
        }
    }
}
