<div id="card-container" [style.height.px]="view_mode == 'compact' ? 88 : 200">
    <div id="title">Olivetti MICROCOMPUTER</div>

    <mat-form-field id="program-title-form-field" appearance="outline">
        <mat-label>Titolo programma</mat-label>
        <input matInput [(ngModel)]="title" (change)="title_changed()">
    </mat-form-field>

</div>
            
