
@import 'styles-common-variables';

#card-container {
    width: $card-width;
    background-color: $card-bg-color;
    border: 1px solid $card-border-color;
    text-align: center;
    font-size: 10px;
    padding: 2px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    overflow: hidden;
}

#title {
    font-weight: bold;
}
